###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

.idea/
.idea/dataSources.local.xml
.idea/workspace.xml
README.md___jb_tmp___
.idea/workspace.xml

/UML/classes
/UML/sequence
/UML/db
/UML/docs
/UML/coverage
/UML/ppt
/docs
/src/Controller/Api2/

